/*
 * Base structure
 */

html, body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #444;
}
a:hover, a:focus {
	text-decoration: none;
}
#wrapper {
	width:  100%;
	height: 100%;
	min-height: 100%;
	background-color: #694489;
}
#container {
	margin: 0 auto;
	height: 100%;
}
@media (min-width: 768px) { /* Pull out the header and footer */
  #container {
  	width: 100%;
  }
}


/*
 * Navbar
 */

#top-nav {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: none;
}
#top-nav .navbar-header button {
  margin-top: 25px;
}
#top-nav .navbar-brand {
  padding: 0;
  height: 80px;
  width: 145px;
}
#top-nav img {
  height: 80px;
  width: 145px;
}
#top-nav form {
  margin-top: 22px;
  width: calc(100% - 300px);
}
#top-nav .form-group {
  width: calc(100% - 80px);
}
#top-nav input {
  width: 100%;
}
#top-nav .btn {
  color: #fff;
  background-color: #85609f;
}
#top-nav .navbar-right {
  margin-top: 13px;
}
#top-nav .navbar-right li:nth-child(1) a {
  padding-left: 0;
}
/*
@media (max-width: 768px) {
  #top-nav .collapse form {
    display: none;
  }
}*/
