/*
 * Base structure
 */

html, body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #444;
}
a:hover, a:focus {
	text-decoration: none;
}

#wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #b271e7; /* Old browsers */
background: -moz-linear-gradient(top,  #b271e7 0%, #9c5ec8 100%, #8449a9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b271e7), color-stop(100%,#9c5ec8), color-stop(100%,#8449a9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b271e7 0%,#9c5ec8 100%,#8449a9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b271e7 0%,#9c5ec8 100%,#8449a9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b271e7 0%,#9c5ec8 100%,#8449a9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b271e7 0%,#9c5ec8 100%,#8449a9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b271e7', endColorstr='#8449a9',GradientType=0 ); /* IE6-9 */


}

#container {
	margin: 0 auto;
	height: 100%;
}

@media (min-width: 768px) { /* Pull out the header and footer */
  #container {
  	width: 100%;
  }
}


/*
 * Navbar
 */

#navbar {
	background-color: #ffffff;
	z-index: 10;
}
#navbar-inner {
	padding: 30px;
	text-align: center;
	margin: 0 auto;
}
#navbar-inner a img {
	margin-top: -13px;
	height: 80px;
	width: 145px;
}
#navbar-inner ul > li {
  display: inline-block;
}
#navbar-inner ul > li + li {
  margin-left: 20px;
}
#navbar-inner ul > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 15px;
  color: #555;
}
#navbar ul > li > a:hover, #navbar ul > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
#navbar-inner h4 {
	float: right;
}

@media (min-width: 768px) {
  #navbar {
    top: 0;
    width: 100%;
    vertical-align: middle;
  }
  #navbar-inner h3  {
    float: left;
  }
  #navbar-inner ul {
    float: right;
  }
}

@media (min-width: 992px) {
  #navbar-inner {
  	width: 95%;
  }
}


/*
 * Navbar
 */

 #content {
  background-color: #ffffff;
  height: 100%;
}

@media (min-width: 768px) {
  #content {
    width: 100%;
    margin: 0 auto;
  }
}

