#wrapper {
	background-color: #ffffff;
}

#navbar #navbar-inner .nav #index-sell a {
	padding: 8px;
	background-color: #694489;
	border: 1px solid #694489;
	border-radius: 10px;
	border-color: #694489;
	color: #ffffff;
	font-size: 13px;
}

.container {
	text-align: center;
	height: 100%;
}

.container img {
	margin-top: 15%;
	height: 200px;
 	width: 363px;
 	margin-bottom: 20px;
 }

.input-group {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}