#book-image, #book-title-info {
  display: inline-block;
}

#book-image {
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  width: 230px;
  height: 300px;
  border: 1px solid #555;
}

#book-title-info {
  height: 310px;
  margin-top: 20px;
  margin-left: 50px;
}

#seller-list {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 40px;
  border: none;
}

#seller-list table {
  width: 800px;
  margin: 0 auto;
}

#seller-list table td {
  font-size: 20px;
}

#categories {
  font-weight: bold;
}

#seller-list .btn {
  margin-top: 0;
  padding: 5px;
  background-color: #428bca;
  color: #ffffff;
  font-size: 15px;
}