#wrapper {
	background-color: #ffffff;
}

#form-top-message {
	margin-left: 13%;
	margin-top:15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-style: oblique;
}

#name-form {
	margin-left :10%;
	display: block;
}

#department-dropdown {
	margin-left: 19%;
	margin-bottom: 15px;
}

#class-number-dropdown {
	margin-bottom: 15px; 
}

#book-title-form {
	margin-left: 10%;
	display: block;
}

#author-form {
	margin-left: 10%;
	display: block;
}

#price-form {
	margin-left: 10%;
}

#condition-dropdown {
	margin-left: 19%;
	margin-bottom: 15px; 

}

#edition-form {
	margin-left: 10%;
}

#submit-button {
	margin-left: 22%;
	font-weight: bold;
}
