#wrapper {
	background-color: #ffffff;
}


/*
 * Main form
 */
.form-horizontal {
	margin-left: 5%;
}
.form-horizontal .info-block {
	margin-top: 230px;
}
.form-horizontal .dropdown-menu {
	min-width: 130px;
}
.form-horizontal #you-info {
	margin-top: 40px;
}
.form-horizontal div .info-title {
	display: block;
}
.form-horizontal div .info-title h4 {
	width: 90px;
	opacity: 0.5;
}
.form-horizontal div .info-section {
	position: absolute;
	display: inline-block;
}
.form-horizontal div .info-section h4 {
	width: 300px;
	line-height: 20px;
	color: #555;
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}
.form-horizontal .form-group {
	margin-top: 20px;
	width: 290px;
}
.form-horizontal .small-group {
	width: 100px;
}
.form-horizontal .form-group label {
	margin-bottom: 10px;
	padding-top: 0;
	width: 280px;
	color: #444;
	text-align: left;
}
.form-horizontal .form-group label + .btn-group {
	margin-left: 15px;
}
.form-horizontal .form-group .text-field {
	padding-left: 15px;
}
.form-horizontal .info-section .form-group > a {
	margin-left: 15px;
	padding: 5px;
	font-size: 10px;
	color: #ffffff;
	background-color: #3B5997;
	border: 1px solid #3B5997;
}
.form-horizontal .info-section a i {
	padding-right: 7px;
	color: #ffffff;
}
.form-horizontal .btn-group + .btn-group {
	margin-left: 5px;
}
#submit {
	margin-top: 420px;
	margin-left: 200px;
	padding-bottom: 120px;
}
#submit-button {
	font-weight: bold;
	font-size: 15px;
	background-color: #694489;
	color: #ffffff;
}

@media (min-width: 768px) {
  .form-horizontal {
	margin-left: 13%;
  }	
  .form-horizontal .info-block {
	margin-top: 150px;
  }
  .form-horizontal .form-group label {
  	margin-bottom: 0;
  	width: 110px;
  }
  .form-horizontal div .info-title {
  	display: inline-block;
  	padding-right: 80px;
  }
  .form-horizontal div .info-section h4 {
  	width: 560px;
  }
  .form-horizontal .info-section .form-group > a {
  	margin-left: 0;
  }
  .form-horizontal .form-group {
  	width: 400px;
  }
  .form-horizontal .small-group {
  	width: 120px;
  }
  .form-horizontal .form-group label + .btn-group {
  	margin-left: 0;
  }
  #submit {
  	margin-top: 360px;
	margin-left: 480px;
	padding-bottom: 50px;
  }
}


/*
 * Modal FB login
 */
.modal .modal-dialog .modal-content img {
	padding-right: 3px;
	width: 30px;
	height: 30px;
}
.modal .modal-body .form-horizontal .form-group {
	width: 300px;
}
.modal .modal-dialog .modal-body label {
	color: #444;
}

@media (min-width: 768px) {
  .modal .modal-body .form-horizontal .form-group {
  	width: 600px;
  }
}
.modal-header {
  background-color:#627BAE;
}
.modal-body {
  background-color: #EDEFF4
}
#myModalLabel {
  color: #FFFFFF;
}