#wrapper {
	background-color: #ffffff;
}
#container {
	padding: 0 20px;
}
@media (min-width: 768px) {
	#container {
		padding: 0 120px;
	}
}
#outline {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 440px;
	background: rgb(133, 96, 159);
	background: rgba(133, 96, 159, 0.25);
	border-radius: 4px;
}


/*
 * Main form
 */
#info {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #ffffff;
}
#info #facebook {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 380px;
	height: 60px;
	background-color: #3b5b95;
	border-radius: 4px;
}
#info #facebook i {
	padding: 17px 15px 17px 20px;
	font-size: 25px;
	color: #ffffff;
	border-right: 1px solid #333;
}
#info #facebook span {
	padding-top: 22px;
	padding-right: 45px;
	padding-bottom: 18px;
	padding-left: 45px;
	font-size: 17px;
	color: #ffffff;
}
#info > h3 {
	margin: 0;
	padding: 25px 12px 15px 12px;
	font-size: 19px;
	font-weight: heavy;
	color: #666;
	border: 1px solid #ccc;
	border-style: solid none solid none;
}
#info > input, #info #condition h3 {
	padding: 13px 12px;
	width: 398px;
	border-style: solid none none none;
	border-top: 1px solid #ccc;
	font-size: 14px;
}
#info .half {
	display: inline-block;
	width: 197px;
	border-top: none;
}
#info .half + .half {
	border-left: 1px solid #ccc;
}
#info #condition h6 {
	display: inline-block;
	padding-left: 3px;
	width: 130px;
}
#info #condition h3, #info #condition h6 {
	margin: 0;
	color: #666;
}
#info #condition h3 + input, #info #condition br + input {
	margin-left: 20px;
}
#info #condition h6 + input {
	margin-left: 10px;
}


/*
 * Modal FB login
 */
.modal .modal-dialog .modal-content img {
	padding-right: 3px;
	width: 30px;
	height: 30px;
}
.modal .modal-body .form-horizontal .form-group {
	width: 300px;
}
.modal .modal-dialog .modal-body label {
	color: #444;
}

@media (min-width: 768px) {
  .modal .modal-body .form-horizontal .form-group {
  	width: 600px;
  }
}
.modal-header {
  background-color:#627BAE;
}
.modal-body {
  background-color: #EDEFF4
}
#myModalLabel {
  color: #FFFFFF;
}